body {
  text-align: center;
  background-color: rgb(233, 215, 207);
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: darkslategrey;
} 

a {
  color: red;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
}

a:hover {
  color: green;
  text-decoration: underline;
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: darkslateblue;
}