header {
  margin-bottom: 64px;
}

h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  margin: 0;
}

#description {
  margin-bottom: 12px 0;
}

/* header p {
  margin-bottom: 36px;
} */

a {
  padding: 12px 48px;
  background-color: rgb(167, 1, 78);
  color: white;
  border: 1px solid rgb(167, 1, 78);
  border-radius: 4px;
  font-size: 24px;
  /* Doesn't work because top and bottom margins are ignored by inline elements.
  margin: 30px 0; 
  Works because left right margins do apply to inline elements
  margin: 0 20px;
  */
  /* Solved by making element inline-block, however the caveat is that margin collapsing is ignored by inline-block elements ie will add to other elements veritical margin instead of the larger of the two margins taking precedent */
  display: inline-block;
  margin: 0;
}

a:hover {
  text-decoration: none;
  background-color: rgb(180, 12, 90);
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  margin: 32px;
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  /* box-shadow: offset x-axis  offset y-axis  blur-radius  color*/
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

h2 {
  color: rgb(78, 13, 5);
  font-family: 'Oswald', sans-serif;
}

main p {
  margin: 12px;
  color: rgb(71, 29, 22);
}

.highlight-goal {
  background-color: rgb(226, 115, 101);
}
